.lazy-list-container {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 20px 0;

  @media (hover: none) and (pointer: coarse) {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .lazy-list-grid {
    display: grid;
    padding: 10px 20px 0 10px;
    gap: 24px;
    justify-items: center;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .item-wrapper {
      width: 100%;
    }
  }

  /* TEST */
  .loading-indicator {
    text-align: center;
    padding: 16px 0;
    font-size: 14px;
    color: #ccc;
  }
}
